### Java ###
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Spring Boot ###
*#
*.sw?
*~
.#*
.*.md.html
.DS_Store
.attach_pid*
.gradle
.metadata
.recommenders
.settings
.springBeans
.vscode
/code
MANIFEST.MF
_site/
bin/
build
!/**/src/**/bin
!/**/src/**/build

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea_modules/
*.iml
modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf



